.column-container {
  padding: 20px;
  width: 30%;
  height: 100%;
  border: black 1px solid;
}

.column-header {
  border: black 1px solid;
  margin: 5px;
  padding: 5px;
}

.card-container {
  border: black 1px solid;
  margin: 5px;
  padding: 5px;
}