/* ===== ABSOLUTES ===== */
.absolute-container {
  text-align: center;
}

.absolute-header {
  background-color: rgb(131, 118, 206);
  /* height: 150px; */
  padding: 20px;
  color: #FFFFCC;
}

.absolute-title {
  font-size: 1.5em;
  border: 1px black solid
}

/* ===== everything else, sort later ===== */

.all-columns-container {
  display: flex;
  justify-content: space-evenly;
}