/* ===== ABSOLUTES ===== */
.absolute-container {
  text-align: center;
}

/* ===== everything else, sort later ===== */

.all-columns-container {
  display: flex;
  justify-content: space-evenly;
  border: black 1px solid;
  padding: 20px;
  margin: 5px;
}